*
{
	margin: 0px;
	font-family: Arial;
}

header
{
	text-align: center;
	background: green;
	color: white;
	padding: 10px;
	font-size: 25px;
}

footer
{
	text-align: center;
	background: black;
	color: white;
	padding: 5px;
	font-size: 18px;
}

#content
{
	margin-left: auto;
	margin-right: auto;
	
	max-width: 800px;
	
	display: flex;
}

#mainText
{
}

#mainText > p
{
	font-size: 16px;
	text-align: justify;
	
	margin: 30px;
}

#mainText > p:first-letter
{
	font-size: 24px;
	color: red;
}	

#sideMenu
{
	background: red;
	float: left;
	
	width: 150px;
	min-height: 88.3vh;
	
	padding-top: 30px;
	padding-left: 52px;
	
	flex-shrink: 0;
	flex-grow: 0;
}

#sideMenu > p
{
	text-decoration: underline;
	color: white;
	
	margin-bottom: 13px;
	max-width: 120px;	
	
	
	overflow-wrap: break-word;
}

#sideMenu > p:active 
{
  background-color: green;
}
